.baseInput {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #b8b8ff;
    background-color: #e0eaff;
    padding: 0 10px;
    height: 33px;
    box-shadow: -2px 4px 7px 2px #cfcfcf;
}

.baseInputWrap {
    flex-grow: 1;
    display: flex;
    align-items: center;
    height: 100%;
    position: relative;
}

.baseInput .baseInputAddonBefore,
.baseInput .baseInputAddonAfter {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: grey;
    cursor: default;
    user-select: none;
}

.baseInputAddonBefore {
    padding-right: 5px;
    border-right: 1px solid #b8b8ff;
}

.baseInputAddonAfter {
    padding-left: 5px;
    border-left: 1px solid #b8b8ff;
}

.baseInput input {
    border: none;
    background-color: transparent;
    height: 100%;
    flex-grow: 1;
    padding: 0 5px;
}

.baseInput input:focus {
    outline: none;
}

.baseInputAdditional {
    position: absolute;
    right: 5px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.baseInputCount {
    color: gray;
    right: 15px;
    font-size: 10px;
    margin-top: 8px;
}

.baseInputClearBtn {
    font-size: 9px;
    border-radius: 100%;
    background-color: #c4c4e1;
    height: 12px;
    width: 12px;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    line-height: 12px;
    font-weight: 700;
}
